* {
    font-family: sans-serif;
    background-color: #efefef;
}

header {
    text-align: center;
    background: color #838383;;
    font-family: sans-serif;
}

#audio-section {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#search-bar {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(83, 83, 83);
    border-radius: 2px;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

input {
    width: 70vw;
}

#music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.music-cards {
    text-align: center;
    padding: 20px;
    max-width: 125px;
    height: auto;
}

img {
    height: auto;
    width: auto;
    border: 2px solid black;
}

.song-title {
    font-size: small;
    font-weight: bold;
    color: darkblue;
    margin-top: 5px;
    text-align: center;
}

.band-name {
    font-weight: bold;
    color: #181818;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.playButton {
    margin-top: 10px;
    justify-items: flex-end;
}

/* <section id="music-container">
<div class="music-cards">
  <img href="" alt="album-image">
  <div class="song-title">Song Title</div>
  <div class="album-title">Album</div>
  <div class="artist">Artist</div>
</div>
</section> */